@import '../../theme/palette';
//@import '../../theme/font/index';

.app {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'roboto medium', Helvetica ,serif;
}