$paletteColor1: #000;
$paletteColor2: #FFF;
$paletteColor3: #4f5a6e;
$paletteColor4: #098686;
$paletteColor5: #1A9696;
$paletteColor6: #666;
$paletteColor7: #eee;
$paletteColor8: #f9f9f9;
$paletteColor9: #84a7df;
