<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lab 11-12</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
    <script src="js/script.js"></script>
</head>

<body>
    <section class="carousel-wrapper">
        <h1>Summer day</h1>
        <div class="carousel">
            <div class="carousel-arrow-left"><span>&lsaquo;</span></div>
            <div class="carousel-hider">
                <ul class="carousel-list">
                    <li class="carousel-element">
                        <img src="img/slider/slider-picture1.png" alt="">                     
                    </li>
                    <li class="carousel-element">
                        <img src="img/slider/slider-picture2.png" alt="">                      
                    </li>
                    <li class="carousel-element">
                        <img src="img/slider/slider-picture3.png" alt="">                      
                    </li>
                    <li class="carousel-element">
                        <img src="img/slider/slider-picture4.png" alt="">                      
                    </li>
                    <li class="carousel-element">
                        <img src="img/slider/slider-picture5.png" alt="">                      
                    </li>
                    <li class="carousel-element">
                        <img src="img/slider/slider-picture6.png" alt="">                      
                    </li>
                    <li class="carousel-element">
                        <img src="img/slider/slider-picture7.png" alt="">                      
                    </li>
                </ul>
            </div>
            <div class="carousel-arrow-right"><span>&rsaquo;</span></div>
        </div>
    </section>
    <section class="shablon">
        <script type="text/html" id="profile">
            <div class="profile-wrapper">
                <div class="header">
                    <h1><%= name %></h1>
                    <img src="<%= photo.src%>" alt="<%= photo.alt%>">
                    <p><%= job %></p>
                </div>
                <hr>
                <div class="main">
                    <h3><%= why %></h3>
                    <ul>
                        <% for (var i = 0; i < reasons.length; i++) { %>
                        <li><%= reasons[i] %></li>
                        <% } %>
                    </ul>
                </div>
                <hr>
                <div class="contacts">
                    <p><%= tel %> <%= number %></p>
                    <p><%= fb %> <a href="<%= fb_link%>"><%= fb_link %></a></p>
                </div>
                <hr>
                <div class="feedback">
                    <p><%= feedback %></p>
                    <h4><%= feedback_text %></h4>
                </div>
            </div>
        </script>
    </section>
</body>

</html>
