/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
  background:url(../img/bg_header.jpg) no-repeat;
  width:100%;
  min-width: 320px;
  text-align:left;
  position:absolute;
  left:0px; top:0px;
  z-index:1;
 }

