/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
  background:url(../img/bg_footer.jpg) no-repeat;
  height:81px;
  text-align:left;
  position:absolute;
  left:0px; bottom:0px;
  width:100%;
  min-width: 320px;
}