<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Java Script Home Work 11-12</title>
	    <link rel="stylesheet" href="css/style.css">
	    <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	    <script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
    	<script src="js/carousel.js"></script>
    	<script src="js/tmpl.js"></script> 
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>   	
    	<script src="js/script.js"></script>
	</head>
	<body>
		<header>	
			<div class="wrapper">		
			<!-- SLIDER -->
		        <div class="page__block page__slider">
		            <div class="page__top">
		                <div class="slider">
		                    <ul class="slider-list">
		                        <li class="slider-element">
		                            <img src="img/slider/slider-picture1.jpg" alt="">                                
		                        </li>
		                        <li class="slider-element">
		                            <img src="img/slider/slider-picture2.jpg" alt="">                                
		                        </li>
		                        <li class="slider-element">
		                            <img src="img/slider/slider-picture3.jpg" alt="">                                
		                        </li>
		                        <li class="slider-element">
		                            <img src="img/slider/slider-picture4.jpg" alt="">                                
		                        </li>
		                        <li class="slider-element">
		                            <img src="img/slider/slider-picture5.jpg" alt="">                                
		                        </li>
		                    </ul>
		                    <a href="" class="arrow-left">&lsaquo;</a>
		                    <a href="" class="arrow-right">&rsaquo;</a>
		                </div>
		            </div>
		        </div>
	        </div>			 
		</header>
		<script type="text/html" id="author">
		<main>
        	<div class="header">
                <figure>
                    <div class="page__photo">
                        <div class="owner__photo">
                            <%= header[0].avatar %>
                        </div>
                        <div class="page__action">
                            <div class="page__action__left">
                                <a href="#edit" class="flat__button"><%= header[1].button %></a>
                            </div>
                            <div class="page__action__right">
                                <a href="#stats" class="stats__button"></a>
                            </div>
                        </div>
                    </div>
                </figure>
                <div class="page__block">
                    <div class="page__top">
                        <a href="#" alt="Vovk Anastasiya" title="Vovk Anastasiya">
                        <h1><%= header[2].name %></h1>
                        <h1><%= header[2].lastname %></h1>
                        <h1><%= header[2].surname %></h1>
                        </a>
                        <p><%= header[3].from %></p>
                        <hr size="1">
                        <div class="profile__short">
                            <% for (var i = 4; i < header.length; i++) { %>
	                        	<div>
	                        		<span class="label"><%= header[i].title %></span>
	                            	<span class="labeled"><%= header[i].labeled %></span>
	                        	</div>
                            <% } %>
                        </div>
		                <div class="full__info">
                            <a id="show" href="#show"><%= info[6].show %></a>
                        </div>
		                <div class="profile__more__info">
                            <div class="contact__info">
                                <h3 class="contact__heading">
                                    <%= info[0].heading %>
                                </h3>
		                        <p class="page__edit__button">
                                    <a href="#edit"><%= info[6].edit %></a>
                                </p>
                                <% for (var i = 2; i < info.length; i++) { %>
                                    <div>
                                        <span class="label">
                                            <%= info[i].title %>
                                        </span>
                                        <span class="labeled">
                                            <%= info[i].labeled %>
                                        </span>
                                    </div>
                                <% } %>
                            </div>
                            <div class="profile__info">
                                <h3 class="profile__heading">
                                    <%= info[1].heading %>
                                </h3>
                				<p class="info__edit__button">
                                    <a href="#edit"><%= info[6].edit %></a>
                                </p>
                                <section class="question">
                                    <article>
                                        <h3><%= main[0].title %></h3>
                                            <% for (var i = 0; i < main.length; i++) { %>
                                                <%= main[i].answer %>
                                            <% } %>
                                    </article>
                                </section>
			                </div>
                        </div>
                        <hr size="1">
                        <div class="counts__module">
                            <% for (var i = 0; i < counts.length; i++) { %>
                            <a class="page__counter" href="#">
                                <div class="count"><%= counts[i].count %></div>
                                <div class="label"><%= counts[i].title %></div>
                            </a>
                            <% } %>
                        </div>
		            </div>
                </div>
            </div>
		</main>				
	</body>

</html>