<section class="about">
    <h1 class="about__title">How Urlaubsglück works?</h1>

    <div class="about__mobile">
        <ul class="about__mobile__list">
            <li class="about__mobile__item about__item--first">
                <div class="about__mobile__item__wrapper">
                    <h3 class="about__item__num">step 1</h3>

                    <h2 class="about__item__title">Sed leo enim,
                        condimentum</h2>

                    <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem.
                        Donec
                        rhoncus a leo sit amet facilisis.</p>
                </div>
            </li>
            <li class="about__mobile__item about__item--second">
                <div class="about__mobile__item__wrapper">
                    <h3 class="about__item__num about__item__num--second">step 2</h3>

                    <h2 class="about__item__title">Morbi velit risus</h2>

                    <p class="about__item__text about__item__text--second">Nulla venenatis tempor dui in molestie.
                        Nulla
                        quis dictum purus, sit amet porttitor est.</p>
                </div>
            </li>
            <li class="about__mobile__item about__item--third">
                <div class="about__mobile__item__wrapper">
                    <h3 class="about__item__num">step 3</h3>

                    <h2 class="about__item__title">Sed leo enim,
                        condimentum</h2>

                    <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem.
                        Donec
                        rhoncus a leo sit amet facilisis.</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="about__desktop">

        <ul class="about__list">
            <li class="about__item">
                <ul class="bxslider">
                    <li>
                        <img src="img/slider1.png" alt="slider-pic"/>
                        <div class="about__item__wrapper">
                            <h3 class="about__item__num">step 1</h3>

                            <h2 class="about__item__title">Sed leo enim,
                                condimentum</h2>

                            <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </li>
                    <li>
                        <img src="img/slider2.png" alt="slider-pic"/>
                        <div class="about__item__wrapper">
                            <h3 class="about__item__num about__item__num--second">step 2</h3>

                            <h2 class="about__item__title">Morbi velit risus</h2>

                            <p class="about__item__text about__item__text--second">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </div>
                    </li>
                    <li>
                        <img src="img/slider3.png" alt="slider-pic"/>
                        <div class="about__item__wrapper">
                            <h3 class="about__item__num">step 3</h3>

                            <h2 class="about__item__title">Sed leo enim,
                                condimentum</h2>

                            <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="about__item">
                <ul class="bxslider">
                    <li>
                        <img src="img/slider2.png" alt="slider-pic"/>
                        <div class="about__item__wrapper">
                            <h3 class="about__item__num about__item__num--second">step 2</h3>

                            <h2 class="about__item__title">Morbi velit risus</h2>

                            <p class="about__item__text about__item__text--second">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </div>
                    </li>
                    <li>
                        <img src="img/slider3.png" alt="slider-pic"/>
                        <div class="about__item__wrapper">
                            <h3 class="about__item__num">step 3</h3>

                            <h2 class="about__item__title">Sed leo enim,
                                condimentum</h2>

                            <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </li>
                    <li>
                        <img src="img/slider1.png" alt="slider-pic"/>
                        <div class="about__item__wrapper">
                            <h3 class="about__item__num">step 1</h3>

                            <h2 class="about__item__title">Sed leo enim,
                                condimentum</h2>

                            <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="about__item">
                <ul class="bxslider">
                    <li>
                        <img src="img/slider3.png" alt="slider-pic"/>
                        <div class="about__item__wrapper">
                             <h3 class="about__item__num">step 3</h3>

                             <h2 class="about__item__title">Sed leo enim,
                                 condimentum</h2>

                             <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                         </div>
                    </li>
                    <li>
                        <img src="img/slider1.png" alt="slider-pic"/>
                         <div class="about__item__wrapper">
                            <h3 class="about__item__num">step 1</h3>

                            <h2 class="about__item__title">Sed leo enim,
                                condimentum</h2>

                            <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem.  Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </li>
                    <li>
                        <img src="img/slider2.png" alt="slider-pic"/>
                        <div class="about__item__wrapper">
                            <h3 class="about__item__num about__item__num--second">step 2</h3>

                            <h2 class="about__item__title">Morbi velit risus</h2>

                            <p class="about__item__text about__item__text--second">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>