<footer>
    <div class="footer__block">
        <a href="#" class="footer__title">URLAUBSGLÜCK</a>

        <div class="footer__company">
            <h3 class="footer__company__title">Company</h3>
            <ul class="footer__company__list">
                <li class="footer__company__item"><a href="#" class="footer__company__link">About</a></li>
                <li class="footer__company__item"><a href="#" class="footer__company__link">Contacts</a></li>
                <li class="footer__company__item"><a href="#" class="footer__company__link">Press</a></li>
                <li class="footer__company__item"><a href="#" class="footer__company__link">Blog</a></li>
            </ul>
        </div>
        <div class="footer__partners">
            <h3 class="footer__partners__title">Partners</h3>
        </div>
        <div class="footer__logo">
            <h4 class="footer__logo__title">Designed by</h4>
            <a href="#" class="footer__logo__link"><img src="img/logo.png" alt="logo" class="footer__logo__img"/></a>
        </div>
    </div>

</footer>