<section class="promo">
    <div class="promo__wrapper">
        <header class="promo__header">
            <div class="promo__header__connect">
                <div class="promo__header__connect__block">
                    <a href="#" class="promo__header__connect__link">Log in</a>
                </div>
                <div class="promo__header__connect__block">
                    <a href="#" class="promo__header__connect__link">Sign up</a>
                </div>
            </div>
            <a href="#" class="promo__header__title">URLAUBSGLÜCK</a>
        </header>
        <div class="promo__info">
            <h1 class="promo__info__title">Share your
                holiday dreams</h1>

            <p class="promo__info__text">And find the perfect partner
                to fullfill it</p>
            <button class="promo__info__button">Find your holiday partner</button>
        </div>
    </div>
</section>