$desktop-width: 940px;
$tablet-width: 768px;
$mobile-width: 320px;
$font-main: robotobold_italic, sans-serif;
$font-size: 55px;
$montserrat: montserratregular, Arial, sans-serif;
$roboto: robotoregular, Arial, sans-serif;
$font-header-title-size: 52px;
$robotolight: robotolight, Arial, sans-serif;
$font-header-text-size: 24px;
$small-size: 14px;
$header-text-color: #FFF;
$header-link-background: #FF4E50;
$header-link-width: 225px;
$header-link-margin: 40px auto;
$login-hover-color: #AF978C;
$header-link-bottom-margin: 0 0 230px 0;
$font-slider-title-size: 22px;
$section-margin: 100px 0 0 0;
$slider-title-margin: 0 0 35px 0;
$text-color: #333;
$partner-width: 225px;
$info-margin: 20px 0;
$ico-size: 40px;
$ico-top: 80px;
$ico-left: 144px;
$border-partners-link: 2px solid #FF4E50;
$partners-link-width: 190px;
$partners-link-text-hover: #FFF;
$section-text-size: 18px;
$margin-pic: 100px 0 70px 0;
$picture-padding: 0 0 100px 0;
$footer-top-border: 4px solid #FF4E50;
$slider-text-color: #CCC;

$color1: #1a1915;
$color2: #fff;
$color3: #ff4e50;
$color4: #ccc;
$color5: #333;
$color6: rgba(0, 0, 0, 0);
$color7: rgba(0, 0, 0, 0.6);
$color8: #666;
$color9: #eee;
$color10: #999;
