* {
	margin: 0;
	padding: 0;
}

.wrap {
	margin: 0 auto;
	width: 1098px;
	height: 838px;
	background: #eee;
}

header {
	padding: 17px 0 20px 20px;
	border-bottom: 1px solid #fff;
}

header h1 {
	font-size: 24px;
	text-transform: capitalize;
}

.circle {
	display: inline-block;
	width: 21px;
	height: 21px;
	background: #2e953e;
	color: #fff;
	border-radius: 50px;
	padding: 7px;
	margin-right: 20px;
	text-align: center;
}

fieldset {
	border: none;	
	padding: 22px;
}

.indent {
	padding:26px 0 48px 0;
	width: 296px;
	line-height: 2;
}

.label {	
	font-size: 14px;
	text-transform: uppercase;
	display: block;	
}

.group--calendar,
.group--time {
	width: 232px;
	margin:0 21px 40px 0;	
	float: left;

}

select {
	width: 228px;
	height: 33px;
}

select:hover {
	background: #5b9546;
	color: #fff;
	border: none;
	border-radius: 5px;
}

.group--calendar label,
.group--time label {
	display: block;
}

.group {	
	float: left;	
}

.group--name {
	clear: both;	
	float: left;	
}



input[type=text],
input[type=email],
input[type=phone],
input[type=date],
input[type=time] {
	width: 230px;
	height: 32px;	
	margin-right: 21px;
	line-height: 2px;
}

.comments {
	clear: both;
	padding-top: 33px;
}

input[type=submit] {
	display: block;
	clear: both;	
	float: right;
	width: 108px;
	height: 51px;
	margin:22px 57px 0 0;
	background: #5b9546;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	border: none;
}

