* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F1F2F4;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

/*slider*/

.wrapper > .page__slider {
    float: initial;
    margin: 10px auto 0;
}

.page__block {
    width: 75%;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #e1e2e6, 0 0 0 1px #e6e7eb;
    margin: 15px 0 0;
    text-align: left;
    float: right;
}

.slider {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(76,77,79,1);
    margin: 5px 0;
}

.slider-list {
    position: relative;
    list-style: none;
    width: 20000em;
}

.slider-element {
    float: left;
    position: relative;
    width: 960px;
    height: 641px;    
}

.slider-element img {
    max-width: 100%;
    max-height: 100%;
}

.arrow-left,
.arrow-right {
    background-color: rgba(255, 255, 255, 0);
    width: 80px;
    height: 100%;
    top: 0;
    position: absolute;
    color: rgba(0, 96, 240, 0.57);
    text-align: center;
    text-decoration: none;
    font: 100px/540px Arial, sans-serif;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.arrow-left:hover,
.arrow-right:hover {
    color: #fff;
    background: rgba(225, 225, 255, 0.3);
    transition: 0.7s;
    box-shadow: 0 0 300px 40px rgba(225, 225, 225, 0.3);
}

.slider-header {
    width: 25%;
    top: 100px;
    padding: 10px;
    font-size: 32px;
    position: absolute;
    color: #fff;
    border-radius: 3px;
    display: none;
    background: rgba(0, 96, 240, 0.3);
}

.page__photo {
    position: relative;
    width: 21%;
    padding: 15px;
    font-size: 10px;
    font-weight: bold;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #e1e2e6, 0 0 0 1px #e6e7eb;
    margin: 15px 0 0;
    text-align: center;
    float: left;
}
