.partners {
  width: 63.5%;
  height: 367px;
  margin: 0 auto;
  font-family: Montserrat;
  text-align: center;
}

.partners__title {
  margin-left: -3px;
  margin-bottom: 32px;
  color: $color5;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.partners__list {
  max-height: 271px;
  height: 100%;
}

.partners__item {
  width: 21.4%;
  float: left;
  margin-right: 4.8%;
}

.partners__item:last-child {
  margin-right: 0;
}

.partners__item__img {
  width: 121px;
  height: 121px;
  display: inline-block;
  margin: 0 auto;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.partners__item__img--first {
  background-image: url("../img/partner1.png");
}

.partners__item__img--second {
  background-image: url("../img/partner2.png");
}

.partners__item__img--third {
  background-image: url("../img/partner3.png");
}

.partners__item__img--fourth {
  background-image: url("../img/partner4.png");
}

.partners__item__symbol {
  width: 37px;
  height: 37px;
  display: inline-block;
  margin-left: -40px;
}

.partners__item__symbol--tv {
  background: url("../img/img1.png");
}

.partners__item__symbol--coffe {
  background: url("../img/img2.png");
}

.partners__item__symbol--chem {
  background: url("../img/img3.png");
}

.partners__item__symbol--plane {
  background: url("../img/img4.png");
}

.partners__item__title {
  margin: 15px auto;
  font-size: 14px;
}

.partners__item__text {
  color: $color8;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
}

.partners__other {
  clear: both;
  padding: 10px 29px;
  background: $color2;
  border: 2px solid $color3;
  border-radius: 30px;
  color: $color3;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    border-color: $color5;
    color: $color5;
  }
}

.partners__other:focus {
  outline: 0;
}
