@media (min-width: 668px) and (max-width: 1024px) {

  @import '../desktop';

  .main-wrapper {    
    min-width: 668px;    
}

  .wrapper {
    width: 98%;    
  }

  .logo img{
	width: 174px;
  }

  .logo-title p {
  	font-size: 10px;
  	margin: 0;
  }

  .search {    
    height: 20px;    
}

  .nav__search {    
    padding: 0 0 8px 39px;
  }

  .nav__search::after {        
    top: -29px;
    left: 232px;
}

  .contact_phone {   
    margin-left: 32px;   
    font-size: 15px;
  }

  .contact_time {   
    font-size: 10px;
  }

  .content {    
    min-width: 668px;    
  }

  .box-inf {
    float: right; 
    margin-top: -41px;   
  }

  ul.dropdown li a {    
    font-size: 11px;
}

}