/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
  width:100%;
  min-width: 320px;
  text-align:left;
  position:absolute;
  left:0px;
  top:30px;
  z-index:1;
}

.logo {
  display: block;
  float: left;
  width: 21%;
}

.nav__search {
  width: 42%;
  float: left;
  height: 56px;
  padding: 0 8px 8px 39px;
}

.search {
  width: 100%;
  height: 40px;
  display: block;
  background: #fff;
  color: #c1c2c5;
  font-family: Arial;
  font-size: 12px;
  padding: 15px;
  border: 1px solid #c1c2c5;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  border-radius: 5px;
}

.nav__search::after {
  content: url("../img/search.png");
  position: relative;
  top: -30px;
  left: 430px;
}

.box-contact {
  width: 37%;
  float: right;
}

.contact_phone {
  float: left;
  margin-left: 73px;
  color: #000;
  font-size: 23px;
}

.contact_time {
  float: right;

  color: #000;
  font-size: 14px;
}

.time__work {
	color: #cb944c;	
}


