/*

================================================================================
|                                     MAIN STYLES                                     |
================================================================================
*/

.content {
  width:100%;
  min-width: 320px;
  text-align:left;
  background: #fff;
}

.main-wrapper{
  margin: 0 0 0 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  min-height:100%;
}
.wrapper{
  min-width: 320px;
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

/* titles */
p{
  font-size: 1em;
  line-height: 1.1em;
  margin: 15px 0 15px 0;
  font-weight: 400;
  color: #17202f;
}
h1{
  font-size: 2em;
  line-height: 1.1em;
  margin: 15px 0 15px 0;
  font-weight: 400;
  color: #17202f;
}
h2{
  font-size: 1.8em;
  line-height: 1.1em;
  margin: 15px 0 15px 0;
  font-weight: 400;
  color: #17202f;
}


/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}

/*nav

.box-products ul {
  list-style: none;
}

.products_main >li>a {
  display: block;
  height: 100%;
  margin: 19px 8px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Tahoma sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

li:last-child>a {
  border-bottom: 0;
}

a:hover {
  color: #c1c2c5;
}

.products_main {
  width: 100%;
  height: 56px;
}

.products_main li {
  float: left;
  position: relative;  
}

.products_main>li>a {
  border-bottom: 0;
}

.sub__first,
.sub__second {
  display: block;
  opacity: 1;
  z-index: 9;  
  background: #fff; 
}

.sub__first li {
  margin: 16px 16px 5px 16px;  
  list-style-type: circle; 
  list-style-position: inside; 
  color: rgb(203, 148, 76);
  padding: 5px;
}

.sub__first >li> a {
  font-size: 15px;
  color: #666666;  
}

.sub__first {
  width: 245px;
  height: 279px;
  border: 1px solid #e9e9ea;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.sub__first {
  position: absolute;
  top:70px;
  left: 0;
  }

*/

/* 
	LEVEL ONE
*/
.box {
  width: 90%;
  height: 56px;
  border-top: 1px solid #dddfdf;
  border-bottom: 1px solid #dddfdf;
  
}

.box-products {
  float: left;
  width: 75%;  
  padding-top: 1px;
}

.box-products ul {
  list-style: none;
}

.dropdown {
	width: 70%;
}

ul.dropdown { 
  position: absolute;
  width: 100%;
   z-index: 999; 
}

ul.dropdown li { 
  font-weight: bold; 
  float: left;
  background: #fff;
  z-index: 999; 
  padding-top: 11px;  
}


ul.dropdown a:hover{ 
  background: #e9e9ea; 
  cursor: pointer;
  z-index: 999;
}

.first_pointer {
  float: right;
  width: 10px;
  height: 10px;
  background: url("../img/first_pointer.png") no-repeat center center;
}

.sub__list {
  float:left;
  width: 22px;
  height: 15px;
  background: url("../img/sprite.png") 0 24px;
  margin-right: 10px;
}

.sub__pointer {
  float: right;  
  width: 22px;
  height: 15px;
  background: url("../img/sprite.png") 0 48px;
  margin-left: 10px;
}

ul.dropdown a:active {
  color: #ffa500;
}

ul.dropdown li a {
  display: block; 
  padding: 4px 8px;   
  color: #000;
  text-transform: uppercase;
  font-size: 15px; 
}


ul.dropdown li:last-child a { 
  border-right: none; 
}

ul.dropdown li.hover,
ul.dropdown li:hover { 
  background: #e9e9ea; 
  color: black; 
  position: relative; 
}

ul.dropdown li.hover a { 
color: #666; 
}

.sub__first {
  background: #fff;
}

.sub__first li a {  
  float: left;
  padding: 0!important;  
}

.sub__first > li {
  margin: 16px 16px 5px 16px;  
  list-style-type: circle; 
  list-style-position: outside; 
  color: rgb(203, 148, 76);
  padding: -5px;
}


/* 
	LEVEL TWO
*/
ul.dropdown ul { 
  width: 246px; 
  visibility: hidden; 
  position: absolute; 
  top: 60px; 
  left: 0;
  border: 1px solid #dddfdf;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

ul.dropdown ul li { 
  font-weight: normal;
  background: #fff; 
  color: #666;  
  float: none; 
}			

		  
                        
/* 
	LEVEL THREE
*/

ul.dropdown li:hover > ul { 
  visibility: visible;
}

.sub__second {
  position: absolute;
  top: 0 !important;
  left: 229px !important;
  height: 155px;
  background: #fff;

  .second__tittle {
    color: #cb944c;
    font-size: 16px;
    text-transform: uppercase;
    padding: 22px 0 5px 19px;
  }

  li {
    display: block;
    float:left;
    color: rgb(203, 148, 76);
    padding-left: 10px;
    padding-top: 3px;
  }

  a {
    display: block;
    padding-left: 10px;
    padding-top: 3px;
  }
} 


/* box info */
.box-inf {
  float:left;
  font-weight: bold;
  text-transform: uppercase;
  color: #252a54;
  margin-top: 15px;
}

.box-inf img {
  float: left;
  margin-right: 10px; 
} 

.box-basket {
  float: left; 
}

.number-goods {
  display: inline-block;
  width: 26px;
  height: 24px;
  border-radius: 50%;
  background: #cb944c;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  padding: 4px;
}

.box__login {
  float: left;
}

.login__icon {
  float: left;
  background: url("../img/login.png");
  width: 19px;
  height: 17px;
}

.login__link {
  float: left;
  display: block;
  margin-left: 15px;  
}

.login__in {
display: inline-block;
  color: #252a54;
  margin: 5px;
}




