@import '../../theme/palette';

.experience {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -458px;
  left:0;
  width: 100%;
  font-family: 'roboto medium', Helvetica;
  background: $paletteColor7;
  color: $paletteColor6;

  h1 {
    width: 50%;
    display: inline-block;
    font-family: 'roboto_condensedlight', sans-serif;
    letter-spacing: 0.15em;
    font-size: 45px;
    color: $paletteColor5;
    text-align: left;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 25px 10px 3px 25px;
    text-transform: capitalize;
    border-bottom: 2px solid $paletteColor5;
    margin:0 0 0 25px;
  }

  .list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 384px;
    text-align: left;
    margin: 5px;

    ul {
      display: flex;
      flex-direction: row;

      li {
        list-style: none;
        font-family: 'roboto medium', Helvetica;
        font-size: 18px;
        color: $paletteColor3;
        line-height: 1.5;

        &:first-child {
          text-align: left;
          width: 25%;
        }

        &:last-child {
          width: 65%;
        }

        .listOil {
          display: flex;
          flex-direction: column;

          li {
            text-align: left;
            width: 95%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .experience {
    min-width: 768px;
    top: -308px;

    h1 {
      width:34%;
      font-size: 40px;
      padding: 5px 10px 3px 0px;
    }

    .list {
      height: 252px;
      margin: 0;

      ul {
        padding: 0;
        margin: 0;

        li {
          font-size: 13px;

          &:first-child {
            width: 37%;
          }
        }
      }
    }
  }
}


@media (min-width: 480px) and (max-width: 767px) {
  .experience {
    min-width: 480px;
    top: -291px;
    overflow: scroll;

    h1 {
      width: 24%;
      font-size: 25px;
      padding: 0 10px 3px 0;
      margin-left: 25px;
    }

    .list {
      height: 258px;
      margin: 0;

      ul {
         display: flex;
         flex-direction: column;
         margin: 0;

         li {
           font-size: 13px;


           &:first-child {
             width: 90%;
             font-weight: bold;
           }

           &:last-child {
             width: 95%;
           }

           .listOil {
             display: flex;
             flex-direction: column;

             li {
               width: 95%;
               font-weight: normal;
             }
           }
         }
       }
     }
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .experience {
    min-width: 480px;
    top: -237px;

    h1 {
      font-size: 20px;
      padding: 5px 0px 1px 0px;
    }

    .list {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      height: 435px;
      margin-bottom: 0;

      ul {
        display: flex;
        flex-direction: column;
        padding-left: 13px;

        li {
          font-size: 10px;


          &:first-child {
            text-align: left;
            width: 90%;
            font-weight: bold;
          }

          &:last-child {
            width: 65%;
          }

          .listOil {
            display: flex;
            flex-direction: column;

            li {
              text-align: left;
              width: 90%;
            }
          }
        }
      }
    }
  }
}